@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cream-color: #eae8e6;
  --color-btn-primary: #e4986a;
  --dark-bg-primary: #121212;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
